<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css\main.css">
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" width="16px" height="16px" />
        <title>Courses</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="vuejs/admin.js"></script>
    </head>
    <body>
        <div id="big_wrapper">
            <div id="admin">
                <div class="grid-container-course">
                    <div class="top">
                        <img src="images/logo.svg" width="70px" height="auto">
                    <header>CancerCoffeeCo.</header>
                    <div id="top_menu">
                        <nav>
                            <a href=index.html> Home </a>
                            <a href=login.html> Login </a>
                            <a href=courses.html> Courses </a>
                        </nav>
                    </div>
                </div>
                <div class="header">
                    <header id="top_header" class="grid">
                        <h1>there in total {{courses.length}} courses</h1>
                        <!--<p>Among these there are total of {{Courses.length}} math courses </p>-->
                    </header>
                </div>
                <div class="mid">
                    <div v-for="course in coursesOutput" >
                        <li id="render" v-for="(value, property) in course">
                            {{property}}: {{value}}
                        </li>
                    </div>
                </div>
            </div>
            <div class=footer>
                <footer>
                    <p>CancerCoffee Co.</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</div>
</html>