<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="css\main.css">
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/ico" href="images/favicon.ico" width="16px" height="16px" />
		<title>Login</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="vuejs/form.js"></script>
	</head>
	<body>
		<div id="big_wrapper">
			
			<div class="grid-container-form">
				<div class="top">
					<img src="images/logo.svg" width="70px" height="auto">
				<header>CancerCoffeeCo.</header>
				<div id="top_menu">
					<nav>
						<a href=index.html> Home </a>
						<a href=login.html> Login </a>
						<a href=register.html> Register </a>
						<a href=index.html> courses </a>
					</nav>
				</div>
			</div>
			<div class="header">
				<header id="top_header" class="grid">
					<h1>Login now! Don't have an account, create one</h1>
				</header>
			</div>
			<div class="mleft">
				<div id="forms">
					<div id="loginforms">
						<section>
							<header>
								<h1>Login</h1>
							</header>
							<input v-model="login_user" placeholder="Username">
							<input v-model="login_pass" placeholder="Password" type="password">
							<button v-on:click="sub_log_server">login</button>
							<p>{{ alert }}</p>
						</section>
					</div>
				</div>
			</div>
			<div class="mright">
				<div id="forms">
					<div id="regforms">
						<section>
							<header>
								<h1>Register</h1>
							</header>
							
							<input minlength="6" v-model="reg_user" placeholder="Username" required>
							<input v-model="reg_email" placeholder="E-mail" type="email" required>
							<input v-model="reg_emailC" placeholder="confirm E-mail" type="email" required>
							<input minlength="6" v-model="reg_pass" placeholder="Password" type="password" required>
							<input minlength="6" v-model="reg_passC" placeholder="Confirm Password" type="password" required>
							<input type="radio" id="user" value="user" v-model="selected">
							<label for="user">User/parent</label>
							<input type="radio" id="admin" value="admin" v-model="selected">
							<label for="admin">Service Provider</label>
							<button v-on:click="sub_reg" type="submit">submit</button>
							<p>{{ alert }} </p>
							
						</section>
					</div>
				</div>
			</div>
			<div class=footer>
				<footer>
					<p>CancerCoffee Co.</p>
				</footer>
			</div>
		</div>
		
	</body>
</div>
</html>