<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css\main.css">
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" width="16px" height="16px" />
        <title>Courses</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="vuejs/courses.js"></script>
    </head>
    <body>
        <div id="big_wrapper">
            <div id="vue1">
                
                <div class="grid-container-course">
                    <div class="top">
                        <img src="images/logo.svg" width="70px" height="auto">
                    <header>CancerCoffeeCo.</header>
                    <div id="top_menu">
                        <nav>
                            <a href=index.html> Home </a>
                            <a href=login.html> Login </a>
                            <a href=courses.html> Courses </a>
                        </nav>
                    </div>
                </div>
                <div class="header">
                    <header id="top_header" class="grid">
                        <h1>there in total {{courses.length}} courses, of those your results have returned {{filteredCourse.length}} courses</h1>
                        <!--<p>Among these there are total of {{Courses.length}} math courses </p>-->
                    </header>
                </div>
                <div class="mid">
                    <div style="float: left;">
                        <div v-for="course in mathCourses">
                            {{course.location}}  <input type="checkbox" v-model="location" v-bind:value="course.location"/>
                        </div>
                        <strong>Sort By:</strong>
                        <select v-model="sortBy">
                            <option value="topic">topic</option>
                            <option value="location">location</option>
                        </select>
                        <select v-model="price">
                            <option value="low">low to high</option>
                            <option value="high">high to low</option>
                        </select>
                    </div>
                    <input type="text" v-model="search" placeholder="type to search">
                    <br></br>
                    <div v-for="course in filteredCourse" >
                        <li id="render"v-for="(value, property) in course">
                            {{property}}: {{value}}
                            <!--{{filteredCourse.length}}-->
                        </li>
                    </div>
                </div>
            </div>
            <div class=footer>
                <footer>
                    <p>CancerCoffee Co.</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</div>
</html>